.hero {
    position: relative;
    width: 1900px;
    height: 910px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enterinfo, .submitinfo {
    font-family: sans-serif;
}

.enterinfo input {
    display: grid;
    padding: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.enterinfo label {
    font-size: 16px;
    font-weight: 600;
    margin-left: 15px;
}

.enterinfo input {
    width: 240px;
}

.submitinfo {
    font-size: 13px;
    display: grid;
}

.submitinfo > button {
    margin-top: 15px;
    border-radius: 5px;
    background-color: aliceblue;
    height: 40px;
    font-size: 16px;
}

.submitinfo > button:hover {
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.705);
}